{% extends "EniMediaBundle::layout.html.twig" %}
{% import "EniMediaBundle:macros:buttons.html.twig" as buttons %}
{% block body %}
    <h1>TypeMedia</h1>
    <table class="table table-bordered table-striped table-condensed">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ typeMedia.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ typeMedia.name }}</td>
        </tr>
        </tbody>
    </table>
    <div class='btn btn-group'>
        {{ buttons.backToList("typemedia", "Retour à la liste des type de médias") }}
        {{ buttons.editButton("typemedia", typeMedia.id) }}
    </div>
    {{ buttons.deleteForm(delete_form) }}
{% endblock %}
